@model IEnumerable<Example2.Models.ViewActiveProjectCard>

@{ 
    ViewBag.Title = "Все проекты | Poless Invest";
}

<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <a href="~/Main/Index">
        <img src="http://www.polessu.by/sites/all/themes/danland/logo.png" height="50"
             alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav text-center">
            <li class="nav-item  active">
                <a class="nav-link" href="~/Main/AllProjects">ВСЕ ПРОЕКТЫ <span class="fa fa-book fa-fw"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Main/CreateProjectRules">СОЗДАТЬ ПРОЕКТ <span class="fa fa-pencil fa-fw"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Main/HowItWorks">ПОМОЩЬ <span class="fa fa-info fa-fw"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Main/Search">ПОИСК <span class="fa fa-search fa-fw"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#modalEnter" data-toggle="modal">ВОЙТИ <span class="fa fa-sign-in fa-fw"></span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Модальные окна -->
<div class="modal fade" id="modalEnter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- вход -->
                <div id="enter-modal" class="my-modal-content-active">
                    <button class="closeBtn" id="modalEnterClose" data-dismiss="modal">&times;</button>
                    <h4 class="title">Вход</h4>
                    <p>
                        <input class="inputBox email-input" type="text" placeholder="Email">
                    </p>
                    <p>
                        <div class="social-input-box password-input">
                            <span class="fa fa-eye-slash fa-fw"></span>
                            <input class="social-input" type="password" placeholder="Пароль">
                        </div>
                    </p>
                    <p class="modalLink">
                        <span id="forgot-password-btn" class="link">Забыли пароль?</span>
                    </p>
                    <p>
                        <span class="category modal-enter-btn">ВОЙТИ</span>
                    </p>
                    <p>
                        <span class="category modal-registration-btn">ЗАРЕГИСТРИРОВАТЬСЯ</span>
                    </p>
                </div>
                <!-- регистрация -->
                <div id="registration-modal" class="my-modal-content">
                    <button class="closeBtn" id="modalEnterClose" data-dismiss="modal">&times;</button>
                    <h4 class="title">Регистрация</h4>
                    <p>
                        <input class="inputBox" type="text" placeholder="Имя Фамилия">
                    </p>
                    <p>
                        <input class="inputBox email-input" type="text" placeholder="Email">
                    </p>
                    <div class="row" style="margin-bottom:7px;">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="social-input-box password-input">
                                <span class="fa fa-eye-slash fa-fw"></span>
                                <input id="registration-password-input-modal" class="social-input" type="password" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <div id="modal-password-status-box" class="modal-password-status">
                                <span id="password-security-pict-modal" class="fa fa-unlock fa-fw"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="social-input-box password-input">
                                <span class="fa fa-eye-slash fa-fw"></span>
                                <input id="second-registration-password-input-modal" class="social-input" type="password" placeholder="Повторите пароль">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <div class="modal-password-status">
                                <span id="second-registration-password-status-modal" class="fa fa-exclamation-circle fa-fw"></span>
                            </div>
                        </div>
                    </div>
                    <p class="modalLink modalConditionRegistration">
                        Нажимая кнопку зарегистрироваться, вы автоматически подтверждаете,
                        что ознакомлены и согласны с <a class="link" href="agreement.html">Пользовательским соглашением</a>
                        платформы Poless Invest.
                    </p>
                    <p>
                        <span class="category modal-registration-btn">ЗАРЕГИСТРИРОВАТЬСЯ</span>
                    </p>
                    <p>
                        <span class="category modal-enter-btn">ВОЙТИ</span>
                    </p>
                </div>
                <!-- восстановление пароля -->
                <div id="password-recovery-modal" class="my-modal-content">
                    <button class="closeBtn" id="modalEnterClose" data-dismiss="modal">&times;</button>
                    <h4 class="title">Восстановление пароля</h4>
                    <p>
                        <input class="inputBox email-input" type="text" placeholder="Email">
                    </p>
                    <p>
                        Для восстановления пароля необходимо ввести почту, с которой связан ваш аккаунт.
                        На нее будет отправлено сообщение для восстановления пароля.
                    </p>
                    <p>
                        <span class="category modal-recovery-btn" href="#">ВОССТАНОВИТЬ</span>
                    </p>
                    <p>
                        <span class="category modal-enter-btn">ВОЙТИ</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <!-- Категории проектов -->
        <div class="categoryBox">
            <div class="row">
                <div class="col">
                    <div>
                        <h2 class="title-min-left">Категории проектов</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="active-category project-category" href="#">Все проекты</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Еда</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Игры</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Искусство</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Литература</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Музыка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Образование и наука</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Ремесло</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Социальные проекты</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Спорт</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Театр</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Технологии</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Фильмы и Видео</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Фотография</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Дизайн</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="category project-category" href="#">Другое</a>
                </div>
            </div>
        </div>
        <!-- Фильтры -->
        <div class="filter-wrapper">
            <div class="row">
                <div class="col">
                    <div>
                        <h2 class="title-min-left">Фильтры</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="category project-filters" href="#">Популярные</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="category project-filters" href="#">Новые</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="category project-filters" href="#">Успешные</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="category project-filters" href="#">Завершенные</a>
                </div>
            </div>
        </div>
        <!-- Проекты -->
        <div id="projects" class="row">
            @foreach (ViewActiveProjectCard item in Model)
            {
                <div class="col-lg-4 col-md-4 card-wrapper">
                    <div class="card-box">
                        <div class="card-picture-wrapper">
                            <div class="card-picture-box">
                                <a class="card-picture-link" href="project-page.html">ПОДДЕРЖАТЬ ПРОЕКТ</a>
                                <img class="card-picture-hover" src="~/images/exampleProjectPictHover.png" />
                                <img class="card-picture lazy" data-original="@item.Image" alt="Project picture" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAEALAAAAAADAAIAAAICjF8AOw==">
                            </div>
                        </div>
                        <div class="card-body">
                            <span class="fa fa-check fa-fw project-card-status-pict-check" style="@item.ShowStatusCheck()"></span>
                            <span class="fa fa-certificate fa-2x project-card-status-pict" style="@item.ShowStatusCertificate()"></span>
                            <a class="link filter" href="~/Main/AllProjects">@item.Category</a>
                            <a class="card-description" href="project-page.html">
                                <span class="projectName">@item.Name</span>
                                @item.ShortDescription
                            </a>
                            <a class="card-progress-box" href="project-page.html">
                                <div class="progress-bar" style="width: @item.GetProgressLine()"></div>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <a class="card-up-status" href="project-page.html">@item.GetProgress()</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a class="card-down-status" href="project-page.html">@item.GetProgressStatus()</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col card-right-status">
                                            <a class="card-up-status" href="project-page.html">@item.Progress BYN</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col card-right-status">
                                            <a class="card-down-status" href="project-page.html"><span class="fa fa-clock-o fa-fw"></span>@item.GetLeftTime()</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="title">
                    <a class="my-btn" href="projects.html">ПОКАЗАТЬ БОЛЬШЕ ПРОЕКТОВ</a>
                </div>
            </div>
        </div>
    </div>
</div>
    @section JsFiles{
        <script src="~/js/projectCard.js"></script>
        <script src="~/js/all-projects.js"></script>
    }

